@bgColorHeader: #ffaa00;

.qBox {
    background-color: @bgColorBody;
    color: @grayAcc;
    padding: 5px;
    margin: 1% 0 6% 0;
    min-height: 125px;
    text-decoration: none;
    box-shadow: 0 0 15px 1px #aaa;
    transition: box-shadow .15s ease;
    border-radius: 10px;
    border: 1px solid @bgColorHeader;
    padding-left: 10px;

    h2,
    h5,
    p {
        color: @grayAcc;
    }
}

/**
* CSS for single question
*
*/
.singleq {
    background-color: @bgColorBody;
    color: @grayAcc;
    margin: 1% 0 3% 0;
    min-height: 125px;
    text-decoration: none;
    box-shadow: 0 0 5px 1px #aaa;
    transition: box-shadow .15s ease;
    border-radius: 10px;
    border: 1px solid @bgColorHeader;
    padding: 2% 0px 1px 10%;
}

.singleqanswers {
    background-color: @bgColorBody;
    color: @grayAcc;
    margin: 4% 6% 2% 6%;
    min-height: 125px;
    text-decoration: none;
    box-shadow: 0 0 5px 1px #aaa;
    transition: box-shadow .15s ease;
    border-radius: 10px;
    border: 1px solid @grayAcc;
    padding: 2% 0px 1px 10%;
}


.comment {
    border: 2px solid lighten(@bgColorHeader, 30%);
    color: black;
    margin: 0 6% 4% 12%;
    padding: 2% 0px 1px 10%;
    border-radius: 10px;

    a {
        p {
            color: black;
        }
    }
}

.singleqanswers {
    div {
        padding: 2% 0px 10px 10px;
    }
}

.qTags {
    display: flex;

    p {
        margin: 0 5% 0 0;
    }
}

.commentlink {
    float: right;
    margin: 0 10px;
}

.votelink {
    a {
        color: @bgColorBody !important;
        padding: 0.8%;
        margin: 1% 2% 1% 0;
        background-color: darken(@bgColorHeader, 10%);
        border-radius: 3px;
    }

    a:visited {
        color: @bgColorBody !important;
    }
}
