@bgColorHeader: #ffaa00;

//Boxes are located under each individual file

.startQs {
    grid-area: q;
}

.startTags {
    grid-area: tags;
    background-color: @bgColorHeader;
    text-align: center;
    margin-top: 2%;
    height: 100%;
    padding-top: 5%;
    box-shadow: 0 0 10px 1px #aaa;
    transition: box-shadow .15s ease;

    h3 {
        margin-top: 0;
        font-size: 250%;
        color: @grayAcc;
    }

    a {
        color: @bgColorBody;
        font-size: 200%;
        padding: 2%;
        text-shadow: 1px 1px 10px lighten(@grayAcc, 20%);
    }
}

.startUsers {
    grid-area: user;
    justify-self: center;
    text-align: center;
    margin: 10% 0 20% 0;
}


.startpage {
    display: grid;
    grid-template-columns: 12.5% 25% 25% 25% 12.5%;
    grid-template-rows: 35% 15% 40%;
    grid-template-areas:
    ". q q q ."
    "tags tags tags tags tags"
    ". user user user .";
    row-gap: 0 3%;
    margin-bottom: 10%;
}
