.allUsers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.userBox {
    width: 250px;
    height: 250px;
    margin-bottom: 4%;
}

/**
* Single user page
*
*/
.singleUserQ {
    background-color: beige;
    margin: 10px;
    color: black;
    padding: 1px 0px 1px 10px;
    width: 80%;
}
